In [4]:
import glob
import pandas as pd
import os
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('To JOin', "*.csv"))))

In [5]:
df.head()

  company master company list name
0     NaN          Intel corp   NaN
1     NaN           NVDIA Inc   NaN
2     NaN       HP Enterprise   NaN
3     NaN           Kema Inc.   NaN
4     NaN            synopsys   NaN

In [6]:
df()

TypeError: 'DataFrame' object is not callable

In [7]:
print (df)

              company master company list name
0                 NaN          Intel corp   NaN
1                 NaN           NVDIA Inc   NaN
2                 NaN       HP Enterprise   NaN
3                 NaN           Kema Inc.   NaN
4                 NaN            synopsys   NaN
0          Intel corp                 NaN    as
1   Intel corporation                 NaN    fr
2           NVDIA Inc                 NaN    cf
3             NIVDIAA                 NaN    fr
4              hp Inc                 NaN    ds
5       HP Enterprise                 NaN    fr
6                Kema                 NaN    we
7           Kema Inc.                 NaN    rt
8            DNV Kema                 NaN    rf
9            synopsys                 NaN    rv
10       synopsys inc                 NaN    vg
11            Snopsys                 NaN    de
12          SYYnopsys                 NaN    fr
13          Kema Inc.                 NaN   asd
14           DNV Kema                 NaN   fr1
15           synopsys                 NaN   cfl
16       synopsys inc                 NaN   frs
17            Snopsys                 NaN   dse
0          Intel corp                 NaN    as
1   Intel corporation                 NaN    fr
2           NVDIA Inc                 NaN    cf
3             NIVDIAA                 NaN    fr
4              hp Inc                 NaN    ds
5       HP Enterprise                 NaN    fr
6                Kema                 NaN    we
7           Kema Inc.                 NaN    rt
8            DNV Kema                 NaN    rf
9            synopsys                 NaN    rv
10       synopsys inc                 NaN    vg
11            Snopsys                 NaN    de
12          SYYnopsys                 NaN    fr

In [13]:
df1 = pd.read_csv('To Join/name_db.csv')

In [14]:
df1(head)

NameError: name 'head' is not defined

In [15]:
df1.head()

  name             company
0    as         Intel corp
1    fr  Intel corporation
2    cf          NVDIA Inc
3    fr            NIVDIAA
4    ds             hp Inc

In [21]:
df2 = pd.read_csv('To Join/name_2_db.csv')
df2.head()

  name             company
0    as         Intel corp
1    fr  Intel corporation
2    cf          NVDIA Inc
3    fr            NIVDIAA
4    ds             hp Inc

In [37]:
df3 = pd.read_csv('To Join/master_company list.csv')
df3.head()
dt[master company list]

SyntaxError: invalid syntax (<ipython-input-37-87250f0c7f75>, line 3)

In [36]:
s1 = pd.merge(df1, df2, how='inner', on=['company'])

In [23]:
s1.head()

  name _x            company name _y
0      as         Intel corp      as
1      fr  Intel corporation      fr
2      cf          NVDIA Inc      cf
3      fr            NIVDIAA      fr
4      ds             hp Inc      ds

In [25]:
print(s1)

   name _x            company name _y
0       as         Intel corp      as
1       fr  Intel corporation      fr
2       cf          NVDIA Inc      cf
3       fr            NIVDIAA      fr
4       ds             hp Inc      ds
5       fr      HP Enterprise      fr
6       we               Kema      we
7       rt          Kema Inc.      rt
8       rt          Kema Inc.     asd
9       rf           DNV Kema      rf
10      rf           DNV Kema     fr1
11      rv           synopsys      rv
12      rv           synopsys     cfl
13      vg       synopsys inc      vg
14      vg       synopsys inc     frs
15      de            Snopsys      de
16      de            Snopsys     dse
17      fr          SYYnopsys      fr

In [26]:
s2 = pd.merge(df1, df2, how='inner', on=['name'])

KeyError: 'name'

In [47]:
s1['new'] = df2.company.isin(df3['master company list'])
print(s1)

   name _x            company name _y    new
0       as         Intel corp      as   True
1       fr  Intel corporation      fr  False
2       cf          NVDIA Inc      cf   True
3       fr            NIVDIAA      fr  False
4       ds             hp Inc      ds  False
5       fr      HP Enterprise      fr   True
6       we               Kema      we  False
7       rt          Kema Inc.      rt   True
8       rt          Kema Inc.     asd  False
9       rf           DNV Kema      rf   True
10      rf           DNV Kema     fr1  False
11      rv           synopsys      rv  False
12      rv           synopsys     cfl  False
13      vg       synopsys inc      vg   True
14      vg       synopsys inc     frs  False
15      de            Snopsys      de   True
16      de            Snopsys     dse  False
17      fr          SYYnopsys      fr  False

In [38]:
df4 = pd.read_csv('To Join/master_company list.csv')

In [43]:
df4['master company list'].dtype

dtype('O')